html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 70px;
  padding: 0;
  background: plum;
  display: flex;
}

.item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid rgb(9, 124, 124);
  background: rgba(20, 4, 4, 0.979);
}

.mid {
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: Oswald, Roboto, Times, serif;
  color: rgb(235, 232, 226);
}

.logo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 65%;
  max-width: 90px;
  padding: 0px;
  background-color: #fff;
  border: none;
  text-align: center;
  margin-left: center;
  margin-right: center;
}

.cuerpo {
  flex: 1;
}
